// Variables
$website-width: 1280px;
$primary-color: #2a89d6;
$secondary-color: #76B3E6;
$light-color: #f4f4f4;
$medium-color: #ccc;
$dark-color: #333;
$bg-image: linear-gradient(rgba(0, 0, 0, 0.1), #000), url('../images/landing.jpg');

// Set Text Color
@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return #000;
  } @else {
    @return #fff;
  }
}
