@import 'config';
@import 'utilities';

#about {
  .about-info {
    display: grid;
    grid-template-areas: 
    'bioimage bio bio';
    grid-gap: 1.2rem;

    // Tablets & smaller
    @media (max-width: 800px) {
      grid-template-areas:
      'bioimage'
      'bio';
    }
  }

  // Grid Areas
  .bio-image {
    grid-area: bioimage;
    place-self: center;
  }

  .bio {
    grid-area: bio;
    border-left: 3px solid $primary-color;
    padding: 2rem 0.8rem;
  }
}