@import 'config';
@import 'utilities';

#contact {
  &-a {
    .text-fields {
      display: grid;
      grid-template-areas:
        'name email'
        'subject phone'
        'message message';
      grid-gap: 1.2rem;
      margin-bottom: 1.2rem;

      // Smartphones
      @media (max-width: 500px) {
        grid-template-areas:
        'name'
        'subject'
        'email'
        'phone'
        'message';
      }

      // Grid Areas
      .name-input {
        grid-area: name;
      }
      .email-input {
        grid-area: email;
      }
      .subject-input {
        grid-area: subject;
      }
      .phone-input {
        grid-area: phone;
      }
      .message-input {
        grid-area: message;
        height: 100px;
      }

      .text-input {
        padding: 0.5rem 1rem;
      }
    }

    button[type='submit'] {
      width: 30%;
    }
  }

  &-b {
    .contact-info {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      text-align: center;
    }
  }
}